.radar-container {
    width: 1200px;
    height: 500px;
}

.bar-container {
    display: flex;
    justify-content: space-between;
}

.bar-yellow {
    flex: 0 0 auto;
}

.bar-red {
    flex: 0 0 50%;
}

.bar-main-container {
    margin-top: 10%;
}
